#!/usr/bin/make -f

MAVEN_HOME=$(CURDIR)/debian/maven_home
JAVA_HOME=/usr/lib/jvm/default-java

MVN=mvn

ifeq ($(DH_VERBOSE),1)
    MVN_VERBOSITY=-X
else
    # quiet
    MVN_VERBOSITY=-q
endif

MVN+=$(MVN_VERBOSITY)
# release should not be running tests
MVN+=-D maven.test.skip=true
# use scoped home directory to avoid contaminating build system
MVN+=-D user.home=$(MAVEN_HOME)

BUILD=build

FFWD_JAR=$(BUILD)/ffwd-full.jar
FFWD=$(BUILD)/ffwd

VERSION:=$(shell $(MVN) -q -Dexec.executable=echo -Dexec.args='$${project.version}' --non-recursive exec:exec)
DEB_VERSION:=$(shell dpkg-parsechangelog | egrep '^Version:' | cut -f 2 -d ' ')

%:
	dh $@

override_dh_auto_clean:
	rm -rf $(BUILD)
	rm -rf $(MAVEN_HOME)
	$(MVN) clean

override_dh_auto_build:
	$(MVN) package
	mkdir -p $(BUILD)
	cp agent/target/ffwd-agent-$(VERSION).jar $(FFWD_JAR)
	cp debian/bin/ffwd-java $(FFWD)
