Package: ffwd
Version: [[version]]
Source: ffwd
Section: net
Priority: extra
Maintainer: prism <prism@spotify.com>
Build-Depends:
 debhelper,
 default-jdk (>= 1.8),
 maven (>= 3)
Standards-Version: 3.9.1
Architecture: all
Depends: java-11-amazon-corretto-jdk-noalt (>=1:11.0.8.10-1spotify1) | oracle-jvm-11 (>=11.0.2-1spotify1) | openjdk-11-jre-headless
Description: FastForward Java Agent
 FastForward is a metrics forwarding agent
